{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre"> 
            <img src="{{avatar}}"/>
            <h3>Events</h3>
            <ul>
            {% for event in events %}
            <li><li> {%if event.link_back %} <a href="{{event.link_back}}"> {{event.created|date:"D H:m" }}</a>{% endif%}
                <b>{{ event.title|safe }}</b>{% if event.body %} - {{ event.body }} {% endif %}</li>
            {% endfor %}
            </ul>
            <h3>Commits per day</h3>
            <ul>
            <li><img src="http://chart.apis.google.com/chart?chxr=1,0,{{max_commits_on_a_day}},2&chxt=x,y&chxl=0:{% for datetime, count in days_committed.items %}|{{datetime|date:"D"}}{% endfor %}&chbh=a&chs=300x225&cht=bvg&chco=A2C180&chds=0,{{max_commits_on_a_day}}&chd=t:{% for datetime, count in days_committed.items %}{{count}}{% if not forloop.last %},{% endif%}{%endfor%}"/></li>
            </ul>
            <h3>Commits</h3>
            <ul>
                {% if commits %}
                {% for commit in commits %}
                <li> {%if commit.link_back %} <a href="{{commit.link_back}}"> {{commit.created|date:"D H:m" }}</a>{% endif%}
                <b>{{ commit.title|safe }}</b>{% if commit.body %} - {{ commit.body }} {% endif %}</li>
                {%if commit.links %}
                <ul>
                    {% for link in commit.links %}
                    <li><a href="{{link}}">{{link}}</a></li>
                    {% endfor %}
                </ul>
                {%endif%}
                {% endfor %}
                {% else %}
                <h4>No commits... Get coding!</h4>
                {% endif %}
            </ul>

            {% if commits %}
            <h3>Commit Break Down</h3>
            <h4>You do most of your commiting between {{common_time}}</h4>
            <h4>Break Down of Commit Times</h4>
            <ul>
                {% for hour, count in commit_times.iteritems %}
                <li>{{count}} commits - {{hour}}:00</li>
                {% endfor %}
            </ul>
            {% endif %}
            {%  if repos %}
            <h3>Repos Used:</h3>
            {% for name, repo in repos.items %}
                <h4>{{repo.name}} <img width="20" height="20" src="{{repo.owner.avatar_url}}"/></h4>
                <ul>
                <li>Owner: {{repo.owner.login}}</li>
                <li>Language: {{repo.language}}</li>
                <li>Watchers: {{repo.watchers}}</li>
                <li>Open Issues: <a href="{{repo.html_url}}/issues/">{{repo.open_issues}}</a></li>
                <li>Forks: {{repo.forks}}</li>
                </ul>
            {% endfor %}
            {% endif %}
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats --> 