{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre"> 
            <img src="{{avatar}}"/>
            <h3>Events</h3>
            <ul>
                {% if commits %}
                {% for commit in commits %}
                <li> {%if commit.link_back %} <a href="{{commit.link_back}}"> {{commit.created|date:"D H:ma" }}</a>{% endif%}
                {{ commit.title }}</li>
                {%if commit.links %}
                <ul>
                    {% for link in commit.links %}
                    <li><a href="{{link}}">{{link}}</a></li>
                    {% endfor %}
                </ul>
                {%endif%}
                {% endfor %}
                {% else %}
                <h4>No commits... Get coding!</h4>
                {% endif %}
            </ul>

            {% if commits %}
            <h3>Commit Break Down</h3>
            <h4>You do most of your commiting between {{common_time}}</h4>
            <h4>Break Down of Commit Times</h4>
            <ul>
                {% for hour, count in commit_times.iteritems %}
                <li>{{hour}}:00 - {{count}} commits</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats --> 