{% extends "causal/base.html" %}
{% load extras %}
{% load media_loaders %}

{% block head %}
    <title>Latest</title>
    {% load_css "cupertino/jquery-ui.css" %}
    {% load_css "tabs.css" %}
    {% load_js "jquery-ui.min.js" %}
{% endblock head %}

{% block primary %}
    <div id="main" class="clearfix"> 
             
        <div id="left">
            <ul class="nav">
                <li class="feed active">
                    <a class="img causal-timeline tab-link" href="/" title="7 day timeline"><span>feed</span></a>
                </li>
                <li class="stats inactive">
                    
                </li>
            </ul>
        </div> <!-- #left -->
    
        <div id="centre" class="stat-tab" style="display: block; ">
        <ol id="days">
                
            {% if connections %}
            <h2>Today (<span class="numitems">{{total}}</span>)</h2>
            <li id="day_0" class="day">
                <a href="#" class="showhide"></a> 
                <ol class="feeditems">
                {% for connection in connections %}
                <li class="{{connection.clazz_name}}">
                    <p>
                    {% if connection.title %}{{connection.title|safe}} {%endif%}{{connection.body|safe}} 
                    </p>
                    <span class="time"><a href="{{link_back|safe}}">{{connection.created_date|date:"D H:m"}}</a></span>
                </li>
        {% endfor %}
            </li>
        </ol> 
        {% else %}
           This user is feeling a little shy and isn't sharing anything, move along.
        {% endif %}
                        
        </div>
    

    </div>
{% endblock primary %}
