{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre"> 
            {% if tweets %}
            <h3>Tweets to Retweets</h3>
            <ul>
                <li><img src="http://chart.apis.google.com/chart?chs=300x225&cht=p3&chco=A2C180&chd=t:{{non_retweets}},{{retweets}}&chdl=tweets|retweets" width="300" height="225" alt="" /></li>
            </ul>            
            <h3>Tweet Distribution over the Past 7 Days</h3>
            <ul>
                <li><img src="http://chart.apis.google.com/chart?chxr=1,0,{{max_tweeted_on_a_day}}&chxt=x,y&chxl=0:{% for datetime, count in days_tweeted.items %}|{{datetime|date:"D"}}{% endfor %}&chbh=a&chs=300x225&cht=bvg&chco=A2C180&chds=0,{{max_tweeted_on_a_day}}&chd=t:{% for datetime, count in days_tweeted.items %}{{count}}{% if not forloop.last %},{% endif%}{%endfor%}"/></li>
            </ul>
            <h3>People you @'ed</h3>
            <ul>
                {% for a, t in atters.iteritems %}
                <li>{{ a }} : {{ t }} time{%if t > 1 %}s {%endif%}</li>
                {% endfor %}
            </ul>
            {% else %}
                <h4>No tweets found, get tweeting!</h4>
            {% endif %}
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats --> 