{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre"> 
            <h3>Places Checked Into</h3>
            <ul>
            {% if checkins %}
                {% for checkin in checkins %}
                    <li>{%if checkin.link_back %} <a href="{{checkin.link_back}}"> {{checkin.created|date:"D H:m"}}</a>{% endif%} {%if checkin.icon %} <img src="{{checkin.icon}}" /> {% endif %}  {{checkin.title}} - {{checkin.body}}. 
                    
                    {%if checkin.is_mayor %} You are the mayor! {% endif %}</li>
                {% endfor %}
            {% else %}
                <h4>No checkins? Get out more!</h4>
            {%endif%}
            </ul>
            <h3>Checkins by Typeover the Past 7 Days</h3>
            <ul>
                <li><img src="http://chart.apis.google.com/chart?chxr=1,0,{{max_checkins}}&chxt=x,y&chxl=0:{% for cat, count in categories.items %}|{{datetime|date:"D"}}{% endfor %}&chbh=a&chs=300x225&cht=bvg&chco=A2C180&chds=0,{{max_tweeted_on_a_day}}&chd=t:{% for datetime, count in days_tweeted.items %}{{count}}{% if not forloop.last %},{% endif%}{%endfor%}"/></li>
            </ul>
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats --> 