{% load media_loaders %}

<div class="stats">
    <div id="main" class="clearfix"> 
        <div id="centre"> 
            <h3>Badges Earned</h3>
            <ul>
            <li>
            {% for name, badge_details in badge_images.items %}
            <a href="{{badge_details.url}}"><img src="{{badge_details.image}}"/></a>
            {% endfor %}
            </li>
            </ul>
            <h3>Places Checked Into</h3>
            <ul>
            {% if checkins %}
                {% for checkin in checkins %}
                    <li>{%if checkin.link_back %} <a href="{{checkin.link_back}}"> {{checkin.created|date:"D H:m"}}</a>{% endif%} {%if checkin.icon %} <img width="15" height="15" src="{{checkin.icon}}" /> {% endif %}  {{checkin.title}} - {{checkin.body}}. 
                    
                    {%if checkin.is_mayor %} You are the mayor! {% endif %}</li>
                {% endfor %}
            {% else %}
                <h4>No checkins? Get out more!</h4>
            {%endif%}
            </ul>
            <h3>Checkins Breakdown</h3>
            <ul>
                <li><img src="http://chart.apis.google.com/chart?chxr=1,0,{{max_checkins}}&chxt=x,y&chxl=0:{% for category, details in categories.items %}|{{category}}{% endfor %}&chs=700x225&cht=bvg&chco=A2C180&chds=0,{{max_checkins}}&chd=t:{% for category, details in categories.items %}{{details.count}}{% if not forloop.last %},{% endif%}{%endfor%}&chbh=75,20,10"/></li>
            </ul>
            <h3>Mayorships</h3>
            <ul>
            {% if mayorships %}
                {% for name, checkin in mayorships.items %}
                    <li><a href="{{checkin.venue.link_back}}">{{checkin.venue.title}}</a></li>
                {% endfor %}
            {% else %}
                <li>You are mayor of nowhere!</li>
            {% endif %}
            </ul>
            <h3>Total Checkins: {{total_checkins}}</h3>
            <h3>Checkins Per Day: {{checkins_per_day}}</h3>
            <div class="clearfix"></div> 
            <div id="right"></div> <! --#right --> 
        </div> <!-- #centre --> 
    </div> <!-- #main --> 
</div> <!-- #stats --> 